.caja {
    border:2px solid;
    border-radius: 8px;
    border-color: var(--especial);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    padding: 80px;
    width: 40%;
  
    
}

.loginregistro {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("/images/constelacion1.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    /* background-repeat: no-repeat; 
    width: 100%;
    height: 680px; */ 
    
}
.loginregistro form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabeza{

    padding:36px;
    max-width: 36x;
    margin-bottom: 16px;
    background-color: var(--especial);
    border-radius: 100%;
    opacity: 0.7;
}
.cuerpo {
 
    opacity: 0.7;
    background-color: var(--especial);
    width: 120px;
    height: 50px; 
    border-radius: 50px 50px 0 0;
}
.caja button{
    padding: 6px;
    width: 100%;
    border: none;
    margin-bottom: 8px;
    background-color: var(--terciario);
    

}
.caja button:hover{
    background-color: var(--especial);
    color: var(--opuesto);
}
.caja input {
    padding: 6px;
    text-align: center;
    border: none;
    margin-bottom: 8px;
    background-color: var(--terciario);
    width: 100%;
    font-family: 'Righteous', sans-serif;
}
.registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.registro .button {
    width: 100%;
}



.caja .empresa {
  width: 100%;

}
.caja #clientesid {
    width: 100%;
}
.registro input {
    width: 100%;
    font-family: 'Righteous', sans-serif;
}

.registro .dr {
    margin-left: 8px;
}
.registro .iz {
    margin-right: 8px;
}
