h4 {
    text-align: center;
}
.mostrarmodificar {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}
.modificarmobiliario {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-color: var(--especial);
}
.modificarmobiliario i {
    font-size: 60px;
    color: var(--especial);
}
.modificarmobiliario div {
    width: 60%;
}

.modificarmobiliario input{
   
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    background-color: var(--terciario);
    font-family: 'Righteous', sans-serif;
    border: none;
    
    
    
}
.modificarmobiliario h4 {
    margin: 0px;
}
.modificarmobiliario button {
    width: 100%;
    padding: 6px;
    margin-bottom: 32px;
    background-color: var(--terciario);
    color: var(--opuesto);
    border: none;
   
}
.modificarmobiliario button:hover {
    background-color: var(--especial);
    color: var(--terciario);
}

#mobiliario  {
    
    list-style: none;
    width: 100%;
    border: 2px solid;
    border-color: var(--especial);
  
    
    
    
}
#mobiliario button {
    border: none;
    background-color: var(--terciario);
    color: var(--opuesto);
    padding: 6px;
}
#mobiliario button:hover {
    background-color: var(--especial);
    color: var(--terciario);
}
#mobiliario li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid;
    border-color: var(--especial);
    background-color: var(--especialTR);
    
}
#mobiliario p {
    margin: 0px;
    padding: 8px;
    font-family: 'Righteous', sans-serif;
    color: var(--terciario);
   
}

.crearmobiliario {
    height: 600px;
    background-image: url("/images/mobiliario2.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--especial);
    
    position: relative;
}
.crearmobiliario::after {
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
}
.crearmobiliario form {
    display: flex;
    flex-direction: column;
}

.crearmobiliario input {
    padding:6px;
    margin-bottom: 8px;
    border:none;
    width: 100%;
    background-color: var(--terciario);
    font-family: 'Righteous', sans-serif;
}

.crearmobiliario button {
    padding:6px;
    margin-bottom: 8px;
    border:none;
    width: 100%;
    background-color: var(--terciario);
    color: var(--opuesto);
}
.crearmobiliario button:hover {
    background-color: var(--especial);
    color: var(--terciario);
}

.crearmobiliario .width {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.crearmobiliario .inputestado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crearmobiliario #salaid{
   margin-left: 8px; 
}
.crearmobiliario #clienteid{
    margin-left: 8px; 
 }
.crearmobiliario .contenido {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre la capa de fondo oscuro */
    color: white; /* Ajusta el color del texto según sea necesario */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inventario  {
    
    list-style: none;
    width: 100%;
    border: 2px solid;
    border-color: var(--especial);
  
    
    
    
}
#inventario button {
    border: none;
    background-color: var(--terciario);
    color: var(--opuesto);
    padding: 6px;
}
#inventario button:hover {
    background-color: var(--especial);
    color: var(--terciario);
}
#inventario li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid;
    border-color: var(--especial);
    background-color: var(--especialTR);
    
}
#inventario p {
    margin: 0px;
    padding: 8px;
    font-family: 'Righteous', sans-serif;
    color: var(--terciario);
   
}