* {
    box-sizing: border-box;
  }
  :root{
    --hue:351;
    
    --primario: 
    hsl(var(--hue) 30%, 40%, 1);
    --primario-oscuro: 
    hsl(var(--hue) 30%, 35%, 1);
    --primario-claro: 
    hsl(var(--hue) 30%, 70%, 1);
    --resalto:
    hsl(var(--hue) 40%, 40%, 1);
    --blanco:
    hsl(var(--hue) 20%, 94%, 1);
    --gris:
    hsl(var(--hue) 30%, 10%, 0.15);
    --negro:
    hsl(var(--hue) 30%, 5%, 1);
    --gris-oscuro:
    hsl(var(--hue) 30%, 10%, 0.30);

    --opuesto:
    hsl(0, 4%, 34%);
    --terciario:
    hsl(21, 44%, 82%);
    --especial:
    hsl(176, 100%, 37%);
    --especialTR:
    hsla(176, 100%, 37%, 0.342);
    --opuestoTR:
    hsla(0, 4%, 34%, 0.747);
    --opuestoNEGRO:
    hsl(0, 4%, 16%);
    }
    
    
    body{
        font-family: 'Silkscreen', sans-serif;

        background-image: url("/images/estrellas.jpg");
        background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
        background-repeat: no-repeat; 
        width: 100%;
        height: 100%;
        }
    h1, h2, h3, h4, h5 {
        margin: 3rem 0 1.38rem;
        font-family: 'Silkscreen', sans-serif;
        font-weight: 400;
        line-height: 1.3;
      }

      .wrap {
        max-width: 1200px;
        padding: 0 16px;
        margin: 0 auto;
      }
